{% extends 'base.html' %}

{% block body %}

	<h1> Stacked Graph - Dataviva - D3Plus</h1>
	<h2>School Census in Brazil by States (2007-2015)</h2>
	<script src="//d3plus.org/js/topojson.js"></script>
	<script type="text/javascript" src="/static/js/geomap-d3plus.js"></script>
	<!--<link rel="stylesheet" type="text/css" href="/static/css/stacked-d3plus.css">-->


	<select id="select_geomap">
	{% for item in data %}
		{% if item[0] != "4mg"%}
	  		<option value="{{item[0]}}">{{item[1]}}</option>
	  	{% else %}
	  		<option value="{{item[0]}}" selected>{{item[1]}}</option>
	  	{% endif %}
	{% endfor %}
	</select>


	<div id="viz3"></div>
	
{% endblock %}
