{% extends 'base.html' %}

{% block body %}
	<h1> Stacked Graph - Dataviva </h1>
	<h2>School Census in Brazil by States (2007-2015)</h2>
	<div id="tooltip" class="hidden">
		<p><strong id="title">Important label Heading</strong></p>
		<p><span id="value1">100</span></p>
		<p><span id="value2">100</span></p>
	</div>
	<form>
	  <input type="radio" name="y" value="enrolled" checked> Enrolled<br>
	  <input type="radio" name="y" value="num_schools"> Num Schools<br>
	</form>
	<section id='stacked'></section>
	<script src="//d3js.org/d3.v4.min.js"></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.0.1/spin.min.js'></script> 	
	<script type="text/javascript" src="/static/js/stacked.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/stacked.css">

{% endblock %}