{% extends 'base.html' %}

{% block body %}

	<h1> Teemap Graph - Dataviva - D3Plus</h1>
	<h2>School Census in Brazil by States (2007-2015)</h2>
	<script type="text/javascript" src="/static/js/stacked-d3plus.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/stacked-d3plus.css">


	<input type="button" id="downloadcsv" hidden="hidden" click="" value="Data Download">

 	<div id="menu">
	 	<div id="lmenu" width="50%">	
	 		Por : 
		  	<input type="radio" name="l" value="1"> Regions
		  	<input type="radio" name="l" value="3" checked> States	
		  	<input type="radio" name="l" value="5"> Mesorregions
		  	<input type="radio" name="l" value="7"> Microrregions
		  	<input type="radio" name="l" value="9"> Municipalities
		</div>
	</div>

	<div id="viz1"></div>

{% endblock %}

