<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/utils/localforage.min.js"></script>
    <script type="text/javascript" src="/static/js/user.js"></script>
    <script type="text/javascript" src="/static/js/base.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/user.css">
</head>
<body>
	<ul>
	  <li><a class="active" href="/">Home</a></li>
	  <li><a href="#news">News</a></li>
	  <li class="dropdown">
	    <a href="#" class="dropbtn">Graphs</a>
	    <div class="dropdown-content">
	      <a href="/graphs/area_chart">Area Chart</a>
	      <a href="/graphs/stack">Stack</a>
	    </div>
	  </li>
	  <li class="dropdown">
	    <a href="#" class="dropbtn">Dataviva</a>
	    <div class="dropdown-content">
	      <a href="/graphs/stacked">Stacked D3</a>
	      <a href="/graphs/stacked-d3plus">Stacked D3plus</a>
	      <a href="/graphs/treemap-d3plus">Treemap D3plus</a>
	    </div>
	  </li>
	  <li><a id="session" href="/user/login">login</a></li>
	</ul>


{% block body %}
{% endblock %}

</body>
</html>